<h1>{{user.name}}</h1>
<div class="container" dir="{{textDir}}">
  <p>{{'user.name'|translate}} : {{user.name}}</p>
  <p>{{'user.username'|translate}} :{{user.username}}</p>
  <p>{{'user.email'|translate}} :{{user.email}}</p>
  <p>{{'user.address.city'|translate}} :{{user.address.city}}</p>
  <p>{{'user.address.street'|translate}} :{{user.address.street}}</p>
  <p>{{'user.company.name'|translate}} :{{user.company.name}}</p>
  <p>{{'user.phone'|translate}} :{{user.phone}}</p>
  <p>{{'user.website'|translate}} :{{user.website}}</p>

</div>


<button (click)="switchLanguage('en')">en</button>

<button (click)="switchLanguage('ar')">ar</button>